h2 {
    margin: 15px 0;
}

span.inc,
span.dec {
    margin: 5px;
    display: inline-block;
    margin-bottom: 10px;
    width: 35px;
    height: 35px;
    background-color: black;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    line-height: 24px;
    cursor: pointer;
}