form {
    width: 600px;
    margin: 120px auto;
    background-color: #eee;
    padding: 20px;
}

form h2 {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 15px auto;
    padding: 10px;
    margin-top: 0;

}

form input {
    padding: 12px 10px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    background-color: white;
    margin-bottom: 15px;
    outline: 0;
    font-size: 17px;
}

form input:focus {
    outline: 1px solid rgb(88, 235, 62);
}

span.show {
    display: block;
    right: 0;
    width: fit-content;
    padding: 10px;
    background-color: green;
    color: white;
    bottom: 50px;
    position: absolute;
    transition: 0.3s;
    right: 10px;
}

span.hide {
    right: -330px;
    display: block;
    /* right: 0; */
    width: fit-content;
    padding: 10px;
    background-color: green;
    color: white;
    bottom: 50px;
    position: absolute;
    transition: 0.3s;
}