body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
  padding: 20px;
}

@media (max-width:767px) {
  .container {
    width: 100%;
  }
}

@media (min-width:992px) {
  .container {
    width: 950px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

img {
  max-width: 100%;
  /* height: 200px; */

}